  /* Fill
  -------------------------- */
  --fill-base: var(--color-white);

  /* Font
  -------------------------- */
  --font-size-base: 14px;
  --font-color-base: var(--color-base-black);
  --font-color-disabled-base: #bbb;

  /* Size
  -------------------------- */
  --size-base: 14px;

  /* z-index
  -------------------------- */
  --index-normal: 1;
  --index-top: 1000;
  --index-popper: 2000;

  /* Disable base
  -------------------------- */
  --disabled-fill-base: var(--color-extra-light-gray);
  --disabled-color-base: #bbb;
  --disabled-border-base: var(--color-base-gray);

  /* Icon
  -------------------------- */
  --icon-color: #666;

  /* Checkbox
  -------------------------- */
  --checkbox-font-size: 14px;
  --checkbox-color: var(--color-base-black);
  --checkbox-input-height: 18px;
  --checkbox-input-width: 18px;
  --checkbox-input-border-radius: var(--border-radius-base);
  --checkbox-input-fill: var(--color-white);
  --checkbox-input-border: var(--border-base);
  --checkbox-input-border-color: var(--border-color-base);
  --checkbox-icon-color: var(--color-white);

  --checkbox-disabled-input-border-color: var(--disabled-border-base);
  --checkbox-disabled-input-fill: var(--disabled-fill-base);
  --checkbox-disabled-icon-color: var(--disabled-fill-base);

  --checkbox-disabled-checked-input-fill: var(--disabled-border-base);
  --checkbox-disabled-checked-input-border-color: var(--disabled-border-base);
  --checkbox-disabled-checked-icon-color: var(--color-white);

  --checkbox-checked-input-border-color: var(--color-secondary);
  --checkbox-checked-input-fill: var(--color-primary);
  --checkbox-checked-icon-color: var(--fill-base);

  --checkbox-input-border-color-hover: var(--color-primary);

  --checkbox-button-font-size: var(--font-size-base);
  --checkbox-button-checked-fill: var(--color-primary);
  --checkbox-button-checked-color: var(--color-white);
  --checkbox-button-checked-border-color: var(--color-primary);



  /* Radio
  -------------------------- */
  --radio-font-size: 14px;
  --radio-color: var(--color-base-black);
  --radio-input-height: 18px;
  --radio-input-width: 18px;
  --radio-input-border-radius: var(--border-radius-circle);
  --radio-input-fill: var(--color-white);
  --radio-input-border: var(--border-base);
  --radio-input-border-color: var(--border-color-base);
  --radio-icon-color: var(--color-white);

  --radio-disabled-input-border-color: var(--disabled-border-base);
  --radio-disabled-input-fill: var(--disabled-fill-base);
  --radio-disabled-icon-color: var(--disabled-fill-base);

  --radio-disabled-checked-input-fill: var(--disabled-border-base);
  --radio-disabled-checked-input-border-color: var(--disabled-border-base);
  --radio-disabled-checked-icon-color: var(--color-white);

  --radio-checked-input-border-color: var(--color-primary);
  --radio-checked-input-fill: var(--color-white);
  --radio-checked-icon-color: var(--color-primary);

  --radio-input-border-color-hover: var(--color-primary);

  --radio-button-font-size: var(--font-size-base);
  --radio-button-checked-fill: var(--color-primary);
  --radio-button-checked-color: var(--color-white);
  --radio-button-checked-border-color: var(--color-primary);

  /* Select
  -------------------------- */
  --select-border-color-hover: var(--border-color-hover);
  --select-disabled-border: var(--disabled-border-base);
  --select-font-size: var(--font-size-base);
  --select-close-hover-color: var(--color-light-silver);

  --select-input-color: var(--color-extra-light-silver);
  --select-multiple-input-color: #666;
  --select-input-focus-background: var(--color-primary);
  --select-input-font-size: 12px;

  --select-tag-height: 24px;
  --select-tag-color: var(--color-white);
  --select-tag-background: var(--color-primary);

  --select-option-color: var(--link-color);
  --select-option-disabled-color: var(--color-extra-light-silver);
  --select-option-disabled-background: var(--color-white);
  --select-option-height: 36px;
  --select-option-hover-background: var(--color-light-gray);
  --select-option-selected: var(--color-primary);
  --select-option-selected-hover: shade(var(--color-primary), 0.12);

  --select-group-color: #999;
  --select-group-height: 30px;
  --select-group-font-size: 12px;

  --select-dropdown-background: var(--color-white);
  --select-dropdown-shadow: var(--box-shadow-base);
  --select-dropdown-empty-color: #999;
  --select-dropdown-max-height: 274px;
  --select-dropdown-padding: 6px 0;
  --select-dropdown-empty-padding: 10px 0;
  --select-dropdown-border: solid 1px var(--disabled-border-base);

  /* Alert
  -------------------------- */
  --alert-padding: 8px 16px;
  --alert-border-radius: var(--border-radius-base);
  --alert-title-font-size: 13px;
  --alert-description-font-size: 12px;
  --alert-close-font-size: 12px;
  --alert-close-customed-font-size: 13px;

  --alert-success-color: var(--color-success);
  --alert-info-color: var(--color-info);
  --alert-warning-color: var(--color-warning);
  --alert-danger-color: var(--color-danger);

  --alert-icon-size: 16px;
  --alert-icon-large-size: 28px;

  /* Message Box
  -------------------------- */
  --msgbox-width: 420px;
  --msgbox-border-radius: 3px;
  --msgbox-font-size: 16px;
  --msgbox-content-font-size: 14px;
  --msgbox-content-color: var(--link-color);
  --msgbox-error-font-size: 12px;

  --msgbox-success-color: var(--color-success);
  --msgbox-info-color: var(--color-info);
  --msgbox-warning-color: var(--color-warning);
  --msgbox-danger-color: var(--color-danger);

  /* Message
  -------------------------- */
  --message-shadow: var(--box-shadow-base);
  --message-min-width: 300px;
  --message-padding: 10px 12px;
  --message-content-color: var(--border-color-hover);
  --message-close-color: var(--color-extra-light-silver);
  --message-close-hover-color: var(--color-light-silver);

  --message-success-color: var(--color-success);
  --message-info-color: var(--color-info);
  --message-warning-color: var(--color-warning);
  --message-danger-color: var(--color-danger);

